header {
	position: fixed;
	width: 100%;
	padding: 0 0;
	background-color: #E4EAEE;
	z-index: 999;
}

.header__logo img {
	max-width: 140px;
	padding-top: 15px;
	display: inline-block;
	@include breakpoint(small only) { 
		max-width: 110px;
		padding-top: 20px;
	}
}

.header__lang {
	line-height: 100%;
	display: inline-block;
	color: #1E2C38;
	margin: 0 20px;
	padding: 20px;
	@include breakpoint(small only) { 
		margin: 0 10px;
		padding: 0 3px;
	}
}

.header__dlbtn {
	background-color: #238E66;
	color: #fff;
	padding: 20px;
	display: inline-block;
}

.hero {
	padding-top: 80px;
	background-image: url('../img/mp-hero.jpg');
	min-height: 70vh;
	background-size: cover;
	position: relative;
	 @include breakpoint(small only) { 
	 		min-height: 80vh;
	 		background-position: left center;
	 }
}

.hero__tag {
	padding: 20px;
	background: #1E2C38;
	color: #fff;
	margin-right: 20px;
	margin-top: 30px;
	 @include breakpoint(small only) { 
	 		margin-right: 0;
	 		position: absolute;
	 		width: 100%;
	 		bottom:0;
	 		left:0;

	 }
}


.features {
	background-image: url('../img/mp-f-bg.png');
	background-repeat: repeat-x;
	padding-top: 20px;
	background-size: 550px auto;
	margin-bottom: 20px;
	 @include breakpoint(small only) { 
	 		overflow-x: scroll;
	 }
}

.features__content{
	 @include breakpoint(small only) { 
	 		width: 300vw;
	 }
}

.f__card {
	background:#fff;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	min-height: 325px;

	p {
		margin-top: 20px;
		text-align: center;
	}

	&--green {
		background:#238E66;
		padding: 20px;
		box-shadow: 0 0 20px rgba(0,0,0,.1);
		color: #fff;
		font-size: 20px;
		min-height: 325px;

		.btn-dl-f {

			color: #fff;
			margin-top: 15px;
			display: inline-block;
			margin-bottom: 0;
			line-height: 80px;
		}
	}
}


.checklist {
	background: #8599A4;
	margin-top: 50px;
	margin-bottom: 80px;
}

.checklist__content {
	padding: 50px;
	color: #fff;
}

.checklist__panel {
	background: #fff;
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	padding: 20px;
	position: relative;
	top: -100px;
}

.checklist__item {
	display: block;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url('../img/mp-tick.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
}

.download {
	text-align: center;
	position: relative;
	background-image: url('../img/mp-d-1.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-top: 50px;


	h1 {
		text-shadow: 0 5px 10px rgba(255, 255, 255, 1);
	}

	h3 {
		margin-bottom: 50vh;
		text-shadow:0 5px 10px rgba(255, 255, 255, 1);
		 @include breakpoint(small only) { 
		 		margin-bottom: 30vh;
		 }
	}
}

.download__badge {
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	background: rgba(64,68,84,0.4);
	bottom:0;
	left: 0;

	img {
		max-width: 120px;
	}
}

.agent {
	background: #111;
	padding: 50px 50px;
	color: #fff;

		label {
		color: #fff;
	}
}

.agent__download {
	padding-top: 20px;

	a {
		margin-right: 20px;
	}


}

.agent__form {
	padding-top: 50px;
}

footer {
	padding: 50px 0;
	text-align: center;
	a  {
		color: #222;
		font-size: 13px;
		margin-right: 20px;
	}
}
